<% layout("/layouts/boilerplate") %>
<div class="container-fluid bg-custom"></div>
    <div class="error-page">
      <h1 class="error-code">404</h1>
      <p class="error-message">Oops! The page you're looking for can't be found.</p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>